<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carc app</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <div id="app-carc">

        <!-- modal for registrering av omgang -->
        <div id="modalOmgang" class="modal" v-if="showingAddModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Registrer resultater</p>
                    <button class="fright close" @click="showingAddModal = false">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">
                    <div class="inputDiv">
                        <label class="fleft"><b>Omgang ID</b></label>
                        <p class="fright">{{ nesteOmgangID }}</p>
                        <div class="clear"></div>
                    </div>
                    <div class="inputDiv">
                        <label for="OmgDato" class="fleft"><b>Dato</b></label>
                        <input type="date" name="OmgDato" class="fright inputDate" v-model="omgangDato">
                        <div class="clear"></div>
                    </div>
                    <hr>
                    <div class="inputDiv" v-for="spiller in spiller">
                        <label for="poeng" class="fleft"><b>{{ spiller.SpillerFornavn }}</b></label>
                        <input type="text" name="poeng" class="fright inputPoints" v-model="spiller.SpillerResultat">
                        <div class="clear"></div>
                    </div>
                    <hr>
                    <!--
                    <div class="inputDiv">
                        <label for="OmgDesc" class="fleft"><b>Beskrivelse</b></label>

                    <textarea class="inputArea frigth" name="OmgDesc"></textarea>
                    <div class="clear"></div>
                </div>
                <hr>-->
                    <button class="buttonEnter fright" @click="showingAddModal = false; inputOmgangResults()">Legg til</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>


        <!-- modal for registrering av spiller -->
        <div id="modalSpiller" class="modal" v-if="showingAddSpiller">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Registrer spiller</p>
                    <button class="fright close" @click="showingAddSpiller = false">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">

                    <div class="inputDiv">
                        <label for="Spiller" class="fleft"><b>Fornavn</b></label>
                        <input type="text" name="poeng" class="fright inputPlayer">
                        <div class="clear"></div>
                    </div>
                    <hr>

                    <button class="buttonEnter fright" @click="showingAddSpiller = false">Legg til</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>




        <div class="wholepage">

            <div class="header">
                <!--<p>tjoho</p>-->
            </div>

            <div class="addOmgang">

                <button class="buttonEnter fmiddle" id="newOmgang" @click="showingAddModal = true;">Nye resultater</button>
                <div class="clear"></div>
            </div>

            <div class="addPlayer">
                <button class="buttonEnter  fmiddle" id="newOmgang" @click="showingAddSpiller = true;">Ny Spiller</button>
                <div class="clear"></div>
            </div>

            <div class="seeStatistics">
                <button class="buttonEnter  fmiddle" id="newOmgang" @click="showingAddModal = true;">Statistikk</button>
                <div class="clear"></div>
            </div>

            <div class="Omgangstabell">
                <table class="omgang">
                    <!-- fyller inn hovedtabellen-->
                    <tr>
                        <th>Omgang</th>
                        <th>Dato</th>
                        <th v-for="person in spiller">{{ person.SpillerFornavn }}</th>
                    </tr>
                    <tr v-for="reslinje in resultat">
                        <td v-for="respos in reslinje">{{ respos }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!--
        <button class="buttonEnter" id="newOmgang" @click="showingAddModal = true;">Nye resultater</button>
        <div class="clear"></div>
-->

    </div>
    <script src="../carcscores/js/app.js"></script>

</body>

</html>