<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carc app</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <div id="app-carc">

        <!-- modal for registrering av resultat -->
        <div id="modalAddOmgang" class="modal" v-if="showingmodalAddOmgang">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Nytt resultat</p>
                    <button class="fright close" @click="showingmodalAddOmgang = false; nullStillSpiller()">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">
                    <div class="inputDiv">
                        <label class="fleft"><b>Omgang ID</b></label>
                        <p class="fright">{{ nesteOmgangID }}</p>
                        <div class="clear"></div>
                    </div>
                    <div class="inputDiv">
                        <label for="OmgDato" class="fleft"><b>Dato</b></label>
                        <input type="date" name="OmgDato" class="fright inputDate" v-model="omgangDato">
                        <div class="clear"></div>
                    </div>
                    <hr>
                    <div class="inputDiv" v-for="spiller in spiller">
                        <label for="poeng" class="fleft"><b>{{ spiller.SpillerFornavn }}</b></label>
                        <input type="text" name="poeng" class="fright inputPoints" v-model="spiller.SpillerResultat">
                        <div class="clear"></div>
                    </div>
                    <hr>
                    <div>
                        <button class="buttonEnter fright" @click="showingmodalAddOmgang = false; inputOmgangResults()">Legg
                            til Resultat</button>
                        <button class="buttonCancel fright" @click="showingmodalAddOmgang = false; nullStillSpiller()">Avbryt</button>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- modal for forandring av resultat -->
        <div id="modalSpiller" class="modal" v-if="showingmodalChangeOmgang">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Registrer spiller</p>
                    <button class="fright close" @click="showingmodalChangeOmgang = false">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">
                    <p>{{resultatToChange}}</p>

                    <div class="inputDiv" v-for="(ressos, key) in resultatToChange">
                        <p> {{ key }} </p>
                        <div class="clear"></div>
                    </div>

                    <hr>

                    <button class="buttonEnter fright" @click="showingmodalChangeOmgang = false">Endre Omgang</button>
                    <button class="buttonDelete fright" @click="showingmodalChangeOmgang = false">Slett Omgang</button>
                    <button class="buttonCancel fright" @click="showingmodalChangeOmgang = false">Avbryt</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>


        <!-- modal for registrering av spiller -->
        <div id="modalSpiller" class="modal" v-if="showingAddSpiller">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Registrer spiller</p>
                    <button class="fright close" @click="showingAddSpiller = false">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">

                    <div class="inputDiv">
                        <label for="Spiller" class="fleft"><b>Fornavn</b></label>
                        <input type="text" name="poeng" class="fright inputPlayer">
                        <div class="clear"></div>
                    </div>
                    <hr>

                    <button class="buttonEnter fright" @click="showingAddSpiller = false">Legg til Resultat</button>
                    <button class="buttonCancel fright" @click="showingAddSpiller = false">Avbryt</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>



        <!-- hovedlayout -->
        <div class="wholepage">

            <div class="header">

                <!-- <ul>
                    <li v-for="item in troll">
                        <div v-for="it in item">
                            {{ it.id }} {{ it.verdi }}
                        </div>
                    </li>
                </ul> -->

            </div>

            <div class="addOmgang">

                <button class="buttonCreate fmiddle" id="newOmgang" @click="showingmodalAddOmgang = true;">Nytt
                    resultat</button>
                <div class="clear"></div>
            </div>

            <div class="addPlayer">
                <button class="buttonCreate  fmiddle" id="newOmgang" @click="showingAddSpiller = true;">Ny Spiller</button>
                <div class="clear"></div>
            </div>

            <div class="seeStatistics">
                <button class="buttonCreate  fmiddle" @click="flashTableRow()">test shit</button>
                <!--<button class="buttonCreate  fmiddle" id="newOmgang" @click="showingmodalAddOmgang = true;" disabled=true>Statistikk</button>
                <div class="clear"></div>-->
            </div>




            <div class="Omgangstabell">
                <!-- <p v-bind:class="{ active: isActive }">halooooooo</p> -->

                <table id="omgangstabell" ref="omgangstabell">
                    <!-- fyller inn headere i hovedtabellen-->
                    <tr>
                        <th class="centerCell">Endre</th>
                        <th>Omgang</th>
                        <th>Dato</th>
                        <th v-for="person in spiller">{{ person.SpillerFornavn }}</th>
                    </tr>
                    <!-- fyller inn data i hovedtabellen-->
                    <tr v-for="reslinje in resultat.slice().reverse()">
                        <td class="centerCell"><img src="filer/Edit_Icon.svg" width="16" height="16" @click="checkContent(reslinje); showingmodalChangeOmgang = true" /></td>
                        <!--<td><button @click="this.alert(reslinje.resomgref)">klikk</button></td>-->
                        <td v-for="respos in reslinje">{{ respos }}</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <script src="../carcscores/js/app.js"></script>

</body>

</html>