<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app-carc">
        <p>{{ nesteOmgangID }}</p>
        <div id="id01" class="modal" v-if="showingAddModal">
            <div class="modalContainer">
                <div class="modalHeading">
                    <p class="fleft">Registrer resultater</p>
                    <button class="fright close" @click="showingAddModal = false">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modalContent">
                    <div class="inputDiv">
                        <label for="OmgDato" class="fleft"><b>Dato</b></label>
                        <input type="date" name="OmgDato" class="fright inputDate">
                        <div class="clear"></div>
                    </div>
                    <hr>
                    <div class="inputDiv" v-for="spiller in spiller">
                        <label for="poeng" class="fleft"><b>{{ spiller.SpillerFornavn }}</b></label>
                        <input type="text" name="poeng" class="fright inputPoints">
                        <div class="clear"></div>
                    </div>
                    <hr>
                    <!--
                    <div class="inputDiv">
                        <label for="OmgDesc" class="fleft"><b>Beskrivelse</b></label>

                    <textarea class="inputArea frigth" name="OmgDesc"></textarea>
                    <div class="clear"></div>
                </div>
                <hr>-->
                    <button class="buttonEnter" @click="inputOmgangResults">Legg til</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <th>spiller ID</th>
                <th>fornavn</th>
            </tr>
            <tr v-for="spiller in spiller">
                <td>{{ spiller.SpillerID }}</td>
                <td>{{ spiller.SpillerFornavn }}</td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <th>resultat ID</th>
                <th>omgang</th>
                <th>spiller</th>
                <th>poeng</th>
            </tr>
            <tr v-for="resultat in resultat">
                <td>{{ resultat.ResultatID }}</td>
                <td>{{ resultat.ResOmgRef }}</td>
                <td>{{ resultat.ResSpillerRef }}</td>
                <td>{{ resultat.ResPoeng }}</td>
            </tr>
        </table>
        <hr>
        <button class="but" id="newOmgang" @click="showingAddModal = true;">Nye resultater</button>

        <div class="clear"></div>
    </div>
    <script src="../carcscores/js/app.js"></script>
</body>

</html>