* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 11px;
}

body {
    background:rgb(61, 61, 61);
    color:rgb(207, 206, 206);
}

.wholepage{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:5px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 6;
   /* background-color: #2196F3; */
}


.addOmgang{
     grid-column-start: 2;
    grid-column-end: 3;
}

.addPlayer{
       grid-column-start: 3;
    grid-column-end: 4;
}

.seeStatistics{
    grid-column-start: 4;
    grid-column-end: 5;
}


.Omgangstabell{
    grid-column-start: 2;
    grid-column-end: 5;
   /* background-color: rgb(55, 61, 45); */
}


table {
    width:100%;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 30px;
}

td, th{
    padding:5px;
    border: 1px solid rgb(110, 110, 110);
}

th{
    background:rgb(95, 95, 95);
}

/* tr:nth-child(2) {
    background: rgb(64, 138, 64);
} */

.active{
    background: red;
}

.centerCell{
    text-align: center;
}

.container {
    width: 900px;
    margin: auto;
    margin-top: 44px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.fmiddle {
    display: block;
    margin: auto;
    padding:10px;
}

.clear {
    clear: both;
}

h1 {
    font-size: 22px;
}

.addNew {
    padding: 2px 9px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.modalContainer {
    width: 350px;
    background: rgb(61, 61, 61);
    color:white;
    margin: auto;
    margin-top: 44px;
}

.modalHeading {
    padding: 6px;
    background: rgb(123, 130, 143);
    color: white;
}

.modalContent {
    min-height: 150px;
    padding: 24px;
}

.close {
    background: rgb(173, 64, 64);;
    padding: 3px 9px;
    border: none;
    color: white;
}

.buttonEnter {
    background: rgb(64, 138, 64);
    margin-left:2px;
    margin-right:2px;
    margin-top: 19px;
    margin-bottom: 9px;
    padding: 9px 15px;
    border: none;
    color: white;
}

.buttonCancel {
    background: rgb(173, 64, 64);
    margin-left:2px;
    margin-right:2px;
    margin-top: 19px;
    margin-bottom: 9px;
    padding: 9px 15px;
    border: none;
    color: white;
}

.buttonDelete {
    background: rgb(173, 153, 64);
    margin-left:2px;
    margin-right:2px;
    margin-top: 19px;
    margin-bottom: 9px;
    padding: 9px 15px;
    border: none;
    color: white;
}

.buttonCreate {
    background: rgb(64, 138, 64);
    /* margin-left:2px; */
    /* margin-right:2px; */
    margin-top: 19px;
    margin-bottom: 9px;
    padding: 9px 15px;
    border: none;
    color: white;
}

.inputDiv {
    padding:6px 6px;
}

.inputDate{
    width:130px;
}

.inputPoints{
    width:50px;
}

.inputPlayer{
    width:150px;
}

.inputArea{
    width:250px;
    height:50px;
}