<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carc app</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app-carc2">
        <spiller-komp v-for="enkeltspiller in spiller" v.bind:key="enkeltspiller.SpillerID" v-bind:spillernavn="enkeltspiller.SpillerFornavn"
            v-bind:resultat="enkeltspiller.SpillerResultat"></spiller-komp>
        <hr>
        <p>{{ spiller[0].SpillerResultat }}</p>
        <input v-model="spiller[0].SpillerResultat">

    </div>

    <script>
        Vue.component('spiller-komp', {
            props: ['spillernavn', 'resultat'],
            template: `<div>
                <p>{{ spillernavn }}</p>
                <input :value=resultat />
            </div>`
        })


        var app1 = new Vue({
            el: "#app-carc2",

            data() {
                return {
                    spiller: [
                        {
                            "SpillerID": "1",
                            "SpillerFornavn": "Asgeir",
                            "SpillerOmgang": 0,
                            "SpillerResultat": 120
                        }, {
                            "SpillerID": "2",
                            "SpillerFornavn": "Bjørn",
                            "SpillerOmgang": 0,
                            "SpillerResultat": 421
                        }, {
                            "SpillerID": "3",
                            "SpillerFornavn": "Ernad",
                            "SpillerOmgang": 0,
                            "SpillerResultat": 0
                        }
                    ]
                }

            }
        }

        );
    </script>
</body>

</html>